In [26]:
#Larissa Aparecida Olimpio
#Elieser de França Costa
#4º ADS B
import pandas as pd
import statistics as st

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('vgsales.csv')

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
st.mean(df.Global_Sales) #calculando a media

0.5374406555006628

In [12]:
st.mode(df.Global_Sales)#calculando a moda

0.02

In [14]:
st.stdev(df.Global_Sales)#calculando o desvio padrão

1.5550279355699124

In [15]:
st.variance(df.Global_Sales)#calculando a variancia

2.4181118804028237

In [16]:
st.median(df.Global_Sales)#calculando a mediana

0.17

In [12]:
df = pd.read_csv('COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv')

df.tail()

,DATE_OF_INTEREST,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_CASE_COUNT_7DAY_AVG,QN_HOSPITALIZED_COUNT_7DAY_AVG,QN_DEATH_COUNT_7DAY_AVG,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,INCOMPLETE
271,11/26/2020,703,142,6,2,1575,114,10,118,28,...,406,33,2,82,22,1,196,18,2,6000
272,11/27/2020,1987,128,12,2,1613,116,11,300,25,...,426,32,2,241,20,4,199,19,2,6000
273,11/28/2020,1538,113,8,4,1657,117,11,275,21,...,447,33,2,176,12,1,203,18,2,6000
274,11/29/2020,1304,122,8,3,1686,120,11,163,29,...,466,33,2,200,21,3,207,19,2,6000
275,11/30/2020,1873,88,12,5,1643,115,11,312,30,...,456,33,2,175,8,1,193,16,2,6000

In [31]:
df['CASE_COUNT'].describe() #resumo estatistico

count     276.000000
mean     1085.177536
std      1365.525162
min         0.000000
25%       292.750000
50%       458.500000
75%      1232.500000
max      6352.000000
Name: CASE_COUNT, dtype: float64

In [36]:
#import matplotlib.pyplot as plt